.page__our-work {
  .section-row:first-child {
    padding-top: $header-height;
  }
}

.project-grid__project {
  h3, h4 {
    transition: {
      duration: 0.15s;
      property: background-color;
    }
  }

  &:hover {
    .project-grid__project-meta {
      h3, h4 {
        background-color: $highlight;
      }
    }
  }
}

.project-grid__project-meta {
  display: block;
  line-height: 1em;
  margin-top: 0.5em;
  min-height: 3em;

  h3,
  h4 {
    display: inline;
    font-size: 0.75em;
    padding: 0.2em 0.1em;
  }

  h4 {
    font-weight: 700;

    &:after {
      content: '/';
      font-weight: 300;
      padding: 0 0.4em;
    }
  }

  h3 {
    text-transform: none;
    font-weight: 300;
  }

}
