
.sharing--wrapper {
  width: $content-width;
  max-width: $max-width;
  margin: 0 auto;
}

.sharing--container {
  display: flex;
  justify-content: center;
  height: 100px;
}

ul.sharing--links {
  list-style-type: none;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  width: 120px;

  > li {
    width: 60px;
    height: 60px;
    // background: $lightBg;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    transform-origin: center center;
    position: relative;
    line-height: 1;

    a {
      display: block;
      width: 100%;
      height: 100%;

      &:before {
        content: '';
        display: block;
        background-color: $lightBg;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transform: scale(0.7);

        transition: {
          duration: 0.15s;
          property: background-color transform;
        }
      }

      svg {
        opacity: 0.5;
        transition: {
          duration: 0.15s;
          property: opacity;
        }
      }

      &:hover {
        svg {
          // opacity: 0.7;
        }

        &:before {
          background-color: $highlight;
          transform: scale(1);
        }
      }

      &:after {
        display: none;
      }

      > * {
        font-size: 0;
        transform: scale(0.35);
      }
    }
  }
}
